.form-data .div-name-infos {
    display: flex;
}

.form-data .div-name-infos .div-first-name-infos,
.form-data .div-name-infos .div-last-name-infos {
    display: flex;
    flex-direction: column; 
    flex: 1;
    margin-right: 15px;
}

.form-data .div-name-infos .div-last-name-infos {
    margin-right: 0;
}